<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>presentationDoubleClick</key>
	<integer>0</integer>
	<key>editingEnabled</key>
	<false/>
	<key>setupDone</key>
	<false/>
	<key>rsyncSource</key>
	<string></string>
	<key>rsyncPreserveLocal</key>
	<true/>
</dict>
</plist>
