<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>presentationDoubleClick</key>
	<integer>0</integer>
	<key>rsyncSource</key>
	<string>/Volumes/kommunikation/extern/Praesentationen/medium_library</string>
	<key>editingEnabled</key>
	<true/>
</dict>
</plist>
