<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>syncServer</key>
	<string>graviton.intern.artcom.de</string>
	<key>libraryPath</key>
	<string>/Volumes/kommunikation/extern/Praesentationen/presentationtest/</string>
	<key>presentationDoubleClick</key>
	<integer>0</integer>
</dict>
</plist>
